<nav>
    <div class="flat-menu flat-menu-slide-up">
        <input type="checkbox" id="toggle-one" name="toggle" class="toggle-menu-input">
        <label for="toggle-one" class="toggle-menu-label"><span class="three-line-menu"></span>Menu</label>
        <ul class="flat-responsive-menu">
            <li class="arrow">
                <input type="checkbox" id="menu-one" name="menu" class="menu-1">
                <label for="menu-one"><a href="/" title=""> David Crowther </a></label> 
            </li>
            <li class="arrow">
                <input type="checkbox" id="menu-two" name="menu" class="menu-2">
                <label for="menu-two">Services<span class="drop-icon"></span></label>
                <ul class="menu-dropdown-two">
                    <li class="clearfix"> 
                        <div class="col-xs-6">
                            <h4 class="title">Increase leads and Sales</h4>
                            <a href="/landing-page-design/" title=""><p> <strong>Landing page design</strong> High converting landing pages guaranteed to increase conversions</p></a>    
                            <a href="/ux-design/" title=""><p> <strong>Website design and UX design</strong>UX or User Experience Design is all about creating beautiful designs that not only look good, but are based on proven design principles to ensure ease of use.</p></a>    
                            <a href="/conversion-rate-optimization/" title=""><p><strong>Conversion rate optimization</strong> Turn more browsers into buyers in 1 month without increasing your advertising spend</p></a>    
                            {{! <a href="/landing-page-design" title=""><p> <strong>Copywriting</strong> High converting landing pages guaranteed to increase conversions</p></a>  }}   
                        </div> 
                        <div class="col-xs-6">
                            <h4 class="title">Increase Traffic</h4>
                            <a href="#" title=""><p> <strong>PPC management</strong> Coming soon.</p></a>  
                            <a href="#" title=""><p> <strong>Content marketing</strong> Coming soon. </p></a>  
                        </div> 
                    </li>
                </ul>
            </li>

            <li class="arrow">
                <input type="checkbox" id="menu-six" name="menu" class="menu-6">
                <label for="menu-six"><a href="/case-studies/" title="">Case studies </a></label>
            </li>
            <li class="arrow">
                <input type="checkbox" id="menu-six" name="menu" class="menu-6">
                <label for="menu-six"><a href="/about/" title="">About </a></label> 
            </li>
            <li class="arrow">
                <input type="checkbox" id="menu-six" name="menu" class="menu-6">
                <label for="menu-six"><a href="/contact/" title="">Contact</a> </label> 
            </li>

        </ul>
    </div>
</nav>