<nav>
	<a href="/" style="font-weight:600;font-size:17px;margin-right:100px;">David Crowther</a>
	<a href="/landing-page-design">Landing Pages</a>
	<a href="/ux-design">UX Design</a>
	<a href="/conversion-rate-optimization" title="Conversion Rate Optimization">CRO</a>
	<a href="/case-studies">Case Studies</a>
	<a href="/about">About</a>
	<a href="/contact">Contact</a>
</nav>